.name-color{
      color: orange;
}
.background-color1{
            color: rgba(0, 0, 0, 0.808)
}
.background-color2{
            color: white ;
}
.name-color{
    color: orange;
}
.text-alignment{
    text-align: center;
}



